<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title><%= post.title %></title>
  </head>

  <body>
    <!-- navbar for the blog with title log in and sign in buttons -->
    <%- include('./components/navbar') %>

    <!-- this page contains a single post -->
    <main class="main">
      <div class="main__container">
        <div class="post">
          <div class="post__banner">
            <a href="/post/<%= post.slug %>"><img src="<%= post.banner_img %>" alt="banner image" /></a>
          </div>
          <div class="post__title">
            <a class="post__title__link" href="/post/<%= post.slug %>"><h2><%= post.title %></h2></a>
          </div>
          <div class="post__author">
            <p>Author: <%= post.author %></p>
          </div>
          <div class="post__category">
            <p>Category: <%= post.category_name %></p>
          </div>
          <div class="post__date">
            <p>Date: <%= post.published_at.toLocaleDateString() %></p>
          </div>

          <div class="post__likes">
            <p>#Likes: <%= post.likes_count %></p>
          </div>
          <div class="post__content">
            <p><%= post.content %></p>
          </div>
        </div>
        <div class="comments__container">
          <p>Comments:</p>
          <!-- if the user is logged in it can write comments else display a message -->
          <% if (isLoggedIn === true) { %>
            <div class="comments__item">
              <form action="/post/<%= post.slug %>/comment" method="POST">
                <div class="comments__item__input">
                  <input type="text" name="content" placeholder="Write a comment..." />
                  <div class="comments__item__submit">
                    <button type="submit">Submit</button>
                  </div>
                </div>
                
              </form>
            </div>
          <% } else { %>
            <div class="comments__item">
              <p>For commenting please <a class="auth__url__stuff" href="/auth/login">Log In</a> or <a class="auth__url__stuff" href="/auth/register">Register</a></p>
            </div>
          <% } %>
          <div class="comments__comments">
            <% comments.forEach(function(comment) { %>
              <div class="comments__comment">
                <div class="user__icon">
                  <img src="<%=comment.profile_picture %>"/>
                </div>
                <div class="user__name">
                  <p class="commenter" ><%= comment.name %></p>
                  <p>Posted at: <%= comment.posted_at.toLocaleDateString() %> </p>
                </div>
                <div class="user__content">
                  <p> <%= comment.content %></p>
                </div>
              </div>
            <% }); %>
          </div>

        </div>
      </div>
      
    <script src="/javascripts/index.js"></script>
  </body>
</html>
