<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title><%= title %></title>
  </head>

  <body style="overflow: hidden">
    <!-- navbar for the blog with title log in and sign in buttons -->
    <%- include('./components/profile_navbar') %>

    <!-- main content of the user profile page, 
      container for the profile details -->

    <div class="profile">
      <div class="profile__details">
        <div class="profile__details__avatar">
          <img src="<%= user.profile_picture %>" alt="avatar" />
        </div>
        <div class="profile__details__info">
          <h1>Name: <%= user.name %></h1>
          <h2>Username: <%= user.username %></h2>
          <p>Email: <%= user.email %></p>
          <p>Role: <%= user.role %></p>
        </div>
      </div>
    </div>

    <!-- posts = [ { id: 4, title: 'Nice post', slug: 'nice-post-1', published_at:
    2023-06-19T09:37:01.000Z }, { id: 5, title: 'XP post', slug: 'xp-post',
    published_at: 2023-06-19T09:42:47.000Z } ] -->

    <!-- display posts as a table with ejs -->

    <div class="profile__posts">
      <h1>Posts</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Published at</th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(post => { %>
          <tr>
            <td><a href="/post/<%= post.slug %>"><%= post.title %></a></td>
            <td><%= post.published_at %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
